<form
  name='container-form'
  class='mt-4'
  method='post'
  action='/courses/handle-form-action'
>
  <div>
    <h2>Khoá học của tôi</h2>
    <a href='/me/trash/courses'>Thùng rác ({{deletedCount}})</a>

    <div class='mt-4 d-flex align-items-center'>
      <div class='form-check'>
        <input
          class='form-check-input'
          type='checkbox'
          value=''
          id='checkbox-all'
        />
        <label class='form-check-label' for='checkbox-all'>
          Chọn tất cả
        </label>
      </div>

      <select
        class='form-control form-control-sm checkbox-select-all-options'
        name='action'
        required
      >
        <option value=''>--Hành động--</option>
        <option value='delete'>Xoá</option>
      </select>

      <button class='btn btn-primary btn-sm check-all-submit-btn' disabled>Thực
        hiện</button>
    </div>
      {{_sort.type}}
  </div>
  <table class='table mt-4 border'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>STT
            {{{sortable '_id' _sort}}}
        </th>
        <th scope='col'>Hình ảnh khoá học</th>
        <th scope='col'>
            Tên khoá học
            {{{sortable 'name' _sort}}}
        </th>
        <th scope='col'>
            Slug
        </th>
        <th scope='col'>
            Thời gian tạo
            {{{sortable 'createdAt' _sort}}}
        </th>
        <th scope='col'>Hành động</th>
      </tr>
    </thead>
    <tbody>
      {{#each course}}
        <tr>
          <td>
            <div class='form-check'>
              <input
                class='form-check-input'
                type='checkbox'
                value='{{this._id}}'
                name='courseIds[]'
              />
            </div>
          </td>
          <th scope='row'>{{this._id}}</th>
          <td style='width: 250px;'><img
              src={{this.image}}
              alt={{this.name}}
              style='width: 100%; height: 100%; object-fit: cover;'
            /></td>
          <td>{{this.name}}</td>
          <td>{{this.slug}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href='/courses/{{this._id}}/edit'>Sửa</a>
            <a
              href=''
              data-toggle='modal'
              data-id='{{this._id}}'
              data-target='#delete-course-modal'
            >Xoá</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan='5' class='text-center'>
            Bạn chưa đăng khoá học nào.
            <a href='/courses/create'>Đăng khoá học</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! Confirm Delete }}
<div
  class='modal fade'
  id='delete-course-modal'
  tabindex='-1'
  role='dialog'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>Xoá khoá học</h5>
        <button
          type='button'
          class='close'
          data-dismiss='modal'
          aria-label='Close'
        >
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        Bạn có chắc muốn xoá khoá học này không
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-dismiss='modal'
        >Huỷ</button>
        <button id='btn-delete-course' type='button' class='btn btn-danger'>Xoá
          bỏ</button>
      </div>
    </div>
  </div>
</div>

{{! DELETE HIDEN FORM }}
<form name='delete-course-form' method='post' action=''>
</form>

<script>
  document.addEventListener('DOMContentLoaded',function() {
    let courseID;
    const deleteForm = document.forms['delete-course-form'];
    const restoreForm = document.forms['restore-course-form'];
    const btnDeleteCourse = document.getElementById('btn-delete-course');
    const btnRestore = $('.btn-restore');
    const checkboxAll = $('#checkbox-all');
    const courseItemCheckbox = $('input[name="courseIds[]"]');
    const checkAllSubmitBtn = $('.check-all-submit-btn');
    $('#delete-course-modal').on('show.bs.modal', function (event) {
      const button = $(event.relatedTarget);
      const id = button.data('id');
      courseID = id;
    });
  btnDeleteCourse.onclick = function () {
    deleteForm.action = `/courses/${courseID}/?_method=DELETE`;
    deleteForm.submit();
  };
  btnRestore.click(function(e){
    e.preventDefault();
    const id = $(this).data('id');
    restoreForm.action = `/courses/${id}/restore?_method=PATCH`;
    restoreForm.submit();
  });
  checkboxAll.change(function(){
    const isCheckedAll = $(this).prop('checked');
      courseItemCheckbox.prop('checked',isCheckedAll);
      renderCheckAllSubmitBtn();
  });
  courseItemCheckbox.change(function(){
    const isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
  checkboxAll.prop('checked',isCheckedAll);
  renderCheckAllSubmitBtn();
  });

  function renderCheckAllSubmitBtn(){
    const checkedCount = $('input[name="courseIds[]"]:checked').length;
    if(checkedCount > 0){
  checkAllSubmitBtn.attr('disabled',false); }
    else{
  checkAllSubmitBtn.attr('disabled',true);
    }
  }
  console.log('checkAllSubmitBtn',checkAllSubmitBtn); })
</script>